.create-book {
  width: 50%;
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin-bottom: 10px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    button {
      margin: 10px;
    }
  }
}
