<div class="create-book">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <input formControlName="author" type="text" nbInput placeholder="Author"/>
    <input formControlName="publisher" type="text" nbInput placeholder="Publisher"/>
    <input formControlName="title" type="text" nbInput placeholder="Title"/>
    <input formControlName="numberOfCopies" type="number" nbInput placeholder="Number of copies"/>
    <input formControlName="numberOfAvailableCopies" type="number" nbInput placeholder="Number of available copies"/>
    <input formControlName="isbn" type="text" nbInput placeholder="ISBN"/>
    <div class="form-group">
      <label for="file">Choose File </label>
      <input type="file"
             id="file"
             (change)="handleFileInput($event.target.files[0])">
    </div>
    <div class="buttons">
      <button nbButton
              type="button"
              status="danger"
              (click)="closeForm()"
              size="xsmall">Cancel</button>
      <button nbButton
              status="success"
              size="xsmall">Create</button>
    </div>


  </form>
</div>

