.book {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  img {
    max-height: 100%;
    height: auto;
  }
  .book-info {
    //opacity: 0;
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    span {
      padding-bottom: 10px;
      text-align: center;
    }
  }
  .delete {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    &:hover {
      color: lightcoral;
    }
  }
  .buttons {
    .rent {
      margin-left: 10px;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
    .edit {
      margin-right: 10px;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}


