<div class="book">
  <img [src]="imagePath" />
  <!--<div class="book-info">-->
    <!--<span>{{book.title}}</span>-->
    <!--<span>{{book.author}}</span>-->
    <!--<span>{{book.publisher}}</span>-->
  <!--</div>-->
  <div class="buttons">
    <button nbButton
            status="info"
            size="xsmall"
            class="rent"
            (click)="rentBook()">Rent</button>
    <button nbButton
            status="success"
            size="xsmall"
            class="edit"
            (click)="editBook()">Edit</button>
  </div>
  <span class="delete" (click)="deleteBook()">
          <i class="fas fa-trash"></i>
        </span>
</div>
