<div class="book-list" *ngIf="!create && !edit">
  <ul>
    <li *ngFor="let book of books$ | async" [ngClass]="book.title.split(' ').join('-').toLowerCase()">
      <app-book [book]="book"
      (rent)="rentBook($event)"
      (edit)="editBook($event)"
      (delete)="deleteBook($event)"
      ></app-book>
    </li>
  </ul>
  <span class="add-book" (click)="create=true;">
    <i class="fas fa-plus-circle"></i>
  </span>
</div>

<app-create-book *ngIf="create && !edit"
                (create)="createBook($event)"
                (close)="create=false;"></app-create-book>
<app-edit-book *ngIf="edit && book && !create"
               [book]="book"
              (close)="edit=false;"
              (changeImage)="updateBookCover($event)"
              (update)="updateBook($event);"></app-edit-book>

