.book-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    li {
      position: relative;
      background-color: white;
      color: #333;
      height: 250px;
      background-size: contain;
    }
  }
  .add-book {
    position: fixed;
    bottom: 100px;
    right: 30px;
    font-size: 60px;
    color: #00d977;
    cursor: pointer;
    &:active {
      color: greenyellow;
    }
  }
}
