<nb-layout>

  <nb-layout-header fixed>
    <i (click)="toggleSidebar()" class="menu nb-menu"></i>
    <h1>Hybrid Library</h1>
  </nb-layout-header>
  <nb-sidebar class="sidebar" state="compacted">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column class="main-content">

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    {{title}}
  </nb-layout-footer>

</nb-layout>
