.menu {
  font-size: 48px;
  margin-right: 20px;
  cursor: pointer;
}

::ng-deep {
  i {
    font-style: normal;
    font-family: FontAwesome;
  }
}

.sidebar {
  transition: width 0.2s ease-in;
  ::ng-deep{
    .main-container {
      transition: width 0.2s ease-in;
    }
  }
}
