.edit-book {
  display: flex;
  justify-content: space-evenly;
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  input {
    margin-bottom: 10px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    button {
      margin: 10px;
    }
  }
  .change-image {
    img {
      max-height: 100%;
      height: auto;
    }
  }
}
